// .gallery-in-grid
.container
    .col-md-4 img
        object-fit: fill
        height: 50vh !important
        width: 100%
    .col-sm-12 img
        width: 100%
        height: auto
        





//     .horizontal
//         grid-column: span 2


//     .vertical
//         grid-row: span 2


//     .big
//         grid-column: span 2
//         grid-row: span 2

