#rooms-section
    background-image: url("../../../images/rustic-background.jpg")
    background-attachment: fixed
    background-repeat: none
    background-size: cover

    *
        text-shadow: 1px 1px black
        color: white
    img
        width: 100%
        height: auto
        