@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

#rooms-section
    background-image: url("../../../images/background-wooden-plain.jpg")
    background-attachment: fixed
    background-repeat: none
    background-size: cover
    font-weight: 900
    *
        text-shadow: 1px 1px black
        color: white
    img
        width: 100%
        height: auto
    .room-name
        font-size: 180%
        font-family: Mereienda
        text-shadow: 2px 2px black
        a:hover
            text-decoration: none
    .room-image img
        height: 200px
    