@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap')

.bubblegum-font
    font-family: Bubblegum Sans
    
.banner-img
    height: 120%
    border-radius: 50%

.banner-background-gif
    background-color: #0a388d3b
    height: 100vh
    width: 100vw
    overflow: visible
    margin: 0px
    padding: 0px
// added comments for this repo
